<%
# initialize any undefined local variables
attribute_list ||= nil
command_list ||= nil
unless defined?(editable)
  editable = true
end
%>
<tr data-id="<%=hunting_plot_user_access.id%>">
  <% if (attribute_list.nil? || attribute_list.include?(:user_id)) %>
    <td><%= (hunting_plot_user_access.user_id.nil?) ? nil : hunting_plot_user_access.user.get_display_name %></td>
  <% end %>
  <% if (!attribute_list.nil? && attribute_list.include?(:hunting_plot_id)) %>
    <td><%= (hunting_plot_user_access.hunting_plot_id.nil?) ? nil : hunting_plot_user_access.hunting_plot.get_display_name %></td>
  <% end %>
  <% if (attribute_list.nil? || attribute_list.include?(:alias)) %>
    <td><%= hunting_plot_user_access.alias %></td>
  <% end %>
  <% if (attribute_list.nil? || attribute_list.include?(:permissions)) %>
    <td><%= HuntingPlotUserAccessesHelper.get_permissions_description(hunting_plot_user_access) %></td>
  <% end %>
  <% if editable %>
    <%= item_command_cell do %>
      <%= (!command_list.nil? && command_list.include?(:show)) ? item_show_command(hunting_plot_user_access_path(hunting_plot_user_access)) : nil %>
      <%= (command_list.nil? || command_list.include?(:edit)) ? item_edit_command(edit_hunting_plot_user_access_path(hunting_plot_user_access), { remote: true }) : nil %>
      <%=
        (command_list.nil? || command_list.include?(:delete)) ?
        item_delete_command(
          hunting_plot_user_access_path(hunting_plot_user_access),
          {
            remote: true,
            method: :delete,
            title: "Remove access",
            data: { confirm: "Remove this user's access?" }
          }
        ) :
        nil
      %>
    <% end %>
  <% end %>
</tr>
