<div class="row">
  <div class="col-md-12">

    <p>
      <strong>User:</strong>
      <%= (@hunting_plot_user_access.user_id.nil?) ? nil : @hunting_plot_user_access.user.get_display_name %>
    </p>

    <p>
      <strong>Hunting plot:</strong>
      <%= (@hunting_plot_user_access.hunting_plot_id.nil?) ? nil : @hunting_plot_user_access.hunting_plot.get_display_name %>
    </p>

    <p>
      <strong>Alias:</strong>
      <%= @hunting_plot_user_access.alias %>
    </p>

    <p>
      <strong>Permissions:</strong>
      <%= @hunting_plot_user_access.permissions %>
    </p>

    <%= link_to 'Edit', edit_hunting_plot_user_access_path(@hunting_plot_user_access) %> |
    <%= link_to 'Back', hunting_plot_user_accesses_path(@hunting_plot_user_access.hunting_plot_id) %>

  </div>
</div>
