<%= bootstrap_form_for @animal_activity_observation, layout: :horizontal, remote: true do |f| %>

  <% if @animal_activity_observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal_activity_observation.errors.count, "error") %> prohibited this animal_activity_observation from being saved:</h2>
      <ul>
      <% @animal_activity_observation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% hide_label = false %>
  <%= hidden_field_tag 'hunting_plot_id', @hunting_plot.id %>
  <%= f.select :hunting_location_id, @hunting_plot.locations.map { |m| [m.name, m.id] }, { label:'Location', hide_label: hide_label, include_blank:'[Location]' } %>
  <%= f.select :animal_category_id, AnimalCategory.all.map { |m| [m.name, m.id] }, { label:'Animal Type', hide_label: hide_label, include_blank:'[Animal Category]' } %>
  <%= f.number_field :animal_count, { label:'Number of Animals', hide_label: hide_label, size:2, placeholder:'#', title:'Number of animals' } %>
  <%= f.select :animal_activity_type_id, AnimalActivityType.all.map { |m| [m.name, m.id] }, { label:'Activity', hide_label: hide_label, include_blank:'[Activity]' } %>
  <%= f.select :hunting_plot_named_animal_id, @hunting_plot.named_animals.map { |m| [m.name, m.id] }, { label:'Named Animal', hide_label: hide_label, include_blank:'[Named Animal]' } %>
  <%= f.datetime_select :observation_date_time, { order: [:day,:month,:year], datetime_separator:':', ampm:true, hide_label: hide_label, label:'Date/Time' } %>

  <br>

  <div>
    <%= f.submit "OK", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", onclick: 'javascript: cancelInlineForm(); return false;', class: "btn btn-default" %>
  </div>

<% end %>
