<div class="row">
  <div class="col-md-12">

    <p>
      <strong>Hunting plot:</strong>
      <%= (@animal_activity_observation.hunting_plot_id.nil?) ? nil : @animal_activity_observation.hunting_plot.get_display_name %>
    </p>

    <p>
      <strong>Hunting location:</strong>
      <%= (@animal_activity_observation.hunting_location_id.nil?) ? nil : @animal_activity_observation.hunting_location.get_display_name %>
    </p>

    <p>
      <strong>Location coordinates:</strong>
      <%= @animal_activity_observation.location_coordinates %>
    </p>

    <p>
      <strong>Animal category:</strong>
      <%= (@animal_activity_observation.animal_category_id.nil?) ? nil : @animal_activity_observation.animal_category.get_display_name %>
    </p>

    <p>
      <strong>Animal count:</strong>
      <%= @animal_activity_observation.animal_count %>
    </p>

    <p>
      <strong>Animal activity type:</strong>
      <%= (@animal_activity_observation.animal_activity_type_id.nil?) ? nil : @animal_activity_observation.animal_activity_type.get_display_name %>
    </p>

    <p>
      <strong>Hunting plot named animal:</strong>
      <%= (@animal_activity_observation.hunting_plot_named_animal_id.nil?) ? nil : @animal_activity_observation.named_animal.get_display_name %>
    </p>

    <p>
      <strong>Observation date time:</strong>
      <%= date_time_to_s(@animal_activity_observation.observation_date_time) %>
    </p>

    <p>
      <strong>Created by:</strong>
      <%= (@animal_activity_observation.created_by_id.nil?) ? nil : @animal_activity_observation.created_by.get_display_name %>
    </p>

    <%= link_to 'Edit', edit_animal_activity_observation_path(@animal_activity_observation) %> |
    <%= link_to 'Back', animal_activity_observations_path %>

  </div>
</div>
