<%= form_for(@user_hunting_plot_access) do |f| %>
  <% if @user_hunting_plot_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_hunting_plot_access.errors.count, "error") %> prohibited this user_hunting_plot_access from being saved:</h2>

      <ul>
      <% @user_hunting_plot_access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :users_id %><br>
    <%= f.text_field :users_id %>
  </div>
  <div class="field">
    <%= f.label :hunting_plots_id %><br>
    <%= f.text_field :hunting_plots_id %>
  </div>
  <div class="field">
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :permissions %><br>
    <%= f.number_field :permissions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
