<h1>Listing user_hunting_plot_accesses</h1>

<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>Hunting plots</th>
      <th>Alias</th>
      <th>Permissions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_hunting_plot_accesses.each do |user_hunting_plot_access| %>
      <tr>
        <td><%= user_hunting_plot_access.users %></td>
        <td><%= user_hunting_plot_access.hunting_plots %></td>
        <td><%= user_hunting_plot_access.alias %></td>
        <td><%= user_hunting_plot_access.permissions %></td>
        <td><%= link_to 'Show', user_hunting_plot_access %></td>
        <td><%= link_to 'Edit', edit_user_hunting_plot_access_path(user_hunting_plot_access) %></td>
        <td><%= link_to 'Destroy', user_hunting_plot_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User hunting plot access', new_user_hunting_plot_access_path %>
