<div class="row">
  <div class="col-sm-6">
    <%= bootstrap_form_for :session, url: sessions_path do |f| %>
      <%= f.email_field :email, { size: 50 } %>
      <%= f.password_field :password %>
      <%= f.submit "Sign in", class: "btn btn-primary btn-sm" %>
      <%= link_to "Forgot password?", new_password_reset_path, style:'display:inline-block;margin-left:1em;' %>
    <% end %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-6">
    <%= link_to "New user? Sign up now!", signup_path %>
  </div>
</div>
