<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Owning user:</strong>
      <%= get_owning_user_description(@user_relationship) %>
    </p>

    <p>
      <strong>Related user:</strong>
      <%= @user_relationship.related_user_id %>
    </p>

    <p>
      <strong>Relationship type:</strong>
      <%= @view_data.get_relationship_type_description(@user_relationship.relationship_type) %>
    </p>

    <%= link_to 'Edit', edit_user_relationship_path(@user_relationship) %> |
    <%= link_to 'Back', user_relationships_path %>

  </div>
</div>
