<div class="row">
  <div class="col-md-12">

    <h4>Respond to hunting plot invitation</h4>
    <p>
      You have been invited by <%= @hunting_plot_user_access_request.created_by_user.get_display_name %> to join the <%= @hunting_plot_user_access_request.hunting_plot.get_display_name %> hunting plot
    </p>
    <% unless @hunting_plot_user_access_request.message.nil? %>
    <p><i>"<%= @hunting_plot_user_access_request.message %>"</i></p>
    <% end %>

    <div id="response"></p>

    <div id="buttons">
      <%= link_to combine_tags(bootstrap_glyphicon('ok', class:'text-success'), content_tag(:span, ' Accept')), accept_hunting_plot_user_access_request_path(@hunting_plot_user_access_request), { remote: true, method: 'PATCH', class: 'btn btn-sm btn-default' } %>
      <%= link_to combine_tags(bootstrap_glyphicon('remove', class:'text-danger'), content_tag(:span, ' Decline')), decline_hunting_plot_user_access_request_path(@hunting_plot_user_access_request), { remote: true, method: 'PATCH', class: 'btn btn-sm btn-default' } %>
    </div>

  </div>
</div>
