<% if animal_activity_observations.size() == 0 %>
<p>No activity reported</p>
<% end %>
<ul data-role="listview" data-inset="true" class="animal-activity-list">
<%
  last_observation_date = nil
  animal_activity_observations.order(created_at: :desc).each do |observation|
    observation_date = observation.created_at.to_date
    if (last_observation_date.nil? || last_observation_date != observation_date)
%>
  <li data-role="list-divider"><%= date_to_s(observation_date, :descriptive) %></li>
<%
    end

    activity_name = ConfigData.animal_activity_types[observation.animal_activity_type_id][:name]
    location = observation.hunting_location.name unless observation.hunting_location_id.nil?

    if observation.hunting_plot_named_animal_id.nil?
      animal_category = ConfigData.animal_categories[observation.animal_category_id][:name]
      animal_description =  "(#{observation.animal_count}) #{animal_category}"
    else
      animal_description =  "#{observation.named_animal.name}"
    end
%>
  <li class="activity-item">
    <%= content_tag(:p, "Time", class:'ai-label') %>
    <%= content_tag(:p, time_to_s(observation.created_at, :short), class:'ai-observation-time') %>

    <%= content_tag(:p, "Deer Type", class:'ai-label') %>
    <%= content_tag(:p, animal_description, class:'ai-animal-type') %>

    <%= content_tag(:p, "Activity", class:'ai-label') %>
    <%= content_tag(:p, activity_name, class:'ai-activity') %>

    <%= content_tag(:p, "Location", class:'ai-label') %>
    <%= content_tag(:p, location, class:'ai-location') %>
  </li>
<%
    last_observation_date = observation_date
  end
%>
</ul>
