<% content_for :head do %>
<script type="text/javascript">
var g_geolocationWatchId = null;
pageInit(
  function(event) {
    $('#checkin-form #is-at-plot').click(
      function() {
        if ($(this).is(':checked')) {
          $('#checkin-form #hunting_location_id').selectmenu('enable');
        }
        else {
          $('#checkin-form #hunting_location_id').selectmenu('disable');
        }
        $('#checkin-form #checkin-submit').button('enable');
      }
    );
    $('#checkin-form #hunting_location_id').change(
      function() {
        $('#checkin-form #checkin-submit').button('enable');
      }
    );
    $('#checkin-form').submit(
      function() {
        $.mobile.loading(
          "show",
          {
            text: "Updating...",
            textVisible: true,
            theme: "z",
            html: ""
          }
        );
      }
    );

    // setup geolocation tracking
    if (navigator.geolocation) {
      g_geolocationWatchId = navigator.geolocation.watchPosition(
        function(position) {
          $('#checkin-form input[name="position_latitude"]').val(position.coords.latitude);
          $('#checkin-form input[name="position_longitude"]').val(position.coords.longitude);
        },
        function(error) {
          alert('Unable to retrieve current location.  Please allow this application to access current location for accurate information');
        }
      );
    }
  }

);
</script>
<% end %>

<div data-role="collapsibleset" data-mini="true" data-theme="a" data-content-theme="a">
  <div data-role="collapsible" data-collapsed="false">
    <h3>Check-in</h3>
    <%= form_tag hunting_app_checkin_path(@hunting_plot.id), remote: true, id:'checkin-form' do %>
    <%= hidden_field_tag("position_longitude", "") %>
    <%= hidden_field_tag("position_latitude", "") %>

    <%= label_tag(
      nil,
      check_box_tag('is_at_plot', 'true', !@last_checkin.nil?, id:'is-at-plot') + 'I\'m at the hunting plot'
    ) %>

    <label>
      <select name="hunting_location_id" id="hunting_location_id" data-native-menu="false" <%= @last_checkin.nil? ? "disabled" : nil %>>
        <option data-placeholder="true" value="">Choose Stand...</option>
        <option value="">[Not in a stand]</option>
        <% @hunting_plot.locations.find_all { |location| location.location_type_stand? }.each do |location| %>
          <option value="<%= location.id%>"<%= ((!@last_checkin.nil? && @last_checkin.hunting_location_id == location.id) ? "selected" : nil) %>><%= location.name%></option>
        <% end %>
      </select>
    </label>
    <hr/>
    <input id="checkin-submit" type="submit" value="Update" data-icon="check" disabled="disabled" style="background-color:green;">
    <p class='check-in-msg'>Last check-in at <%= (@last_checkin.nil?) ? '' : date_time_to_s(@last_checkin.updated_at, :short) %></p>
    <% end %>
  </div>
  <div data-role="collapsible">
    <h3>Deer Sighting</h3>
    <div class="ui-field-contain">
      <label for="select-custom-1">Activity</label>
      <select name="select-custom-1" id="select-custom-1" data-native-menu="false">
        <option value="1">Spotted a buck</option>
        <option value="2">Spotted a doe</option>
        <option value="3">??</option>
        <option value="4">??</option>
      </select>
    </div>
  </div>
  <div data-role="collapsible">
    <h3>Plot Members</h3>
    <p>I'm the collapsible content for section 2</p>
  </div>
  <div data-role="collapsible">
    <h3>Forecast</h3>
    <p>I'm the collapsible content for section 3</p>
  </div>
</div>

