<% present @day_forecast, HuntingApp::HuntingForecastPresenter do |day_forecast_presenter| %>

<div class="hunt-forecast-day">

  <div class="ui-grid-a">
    <div class="ui-block-a">
      <p class="ui-bar ui-bar-inherit -a ui-corner-all">Sun</p>
      <p class="time-value"><label>Rise</label><%= content_tag :span, time_to_s(@day_forecast.sun_rise) %></p>
      <p class="time-value"><label>Set</label><%= content_tag :span, time_to_s(@day_forecast.sun_set) %></p>
    </div>
    <div class="ui-block-b">
      <p class="ui-bar ui-bar-inherit ui-corner-all">Moon</p>
      <p class="time-value"><label>Rise</label><%= content_tag :span, time_to_s(@day_forecast.moon_rise) %></p>
      <p class="time-value"><label>Set</label><%= content_tag :span, time_to_s(@day_forecast.moon_set) %></p>
      <p class="time-value"><label>Up</label><%= content_tag :span, time_to_s(@day_forecast.moon_up) %></p>
      <p class="time-value"><label>Down</label><%= content_tag :span, time_to_s(@day_forecast.moon_down) %></p>
    </div>
  </div>

  <p class="ui-bar ui-bar-inherit ui-corner-all">Major/Minor Times</p>
  <table class="major-minor-times">
    <tr>
      <th>Major</th>
      <th>Minor</th>
    </tr>
    <tr>
      <td><%= day_forecast_presenter.major_am_time_span %></td>
      <td><%= day_forecast_presenter.minor_am_time_span %></td>
    </tr>
    <tr>
      <td><%= day_forecast_presenter.major_pm_time_span %></td>
      <td><%= day_forecast_presenter.minor_pm_time_span %></td>
    </tr>
  </table>

  <% if day_forecast_presenter.has_day_overlap? %>
  <p>* time occurs on previous or next day</p>
  <% end %>

</div>

<% end %>
