<%
  warning_msg = nil
  checkin_available = true
  if @checked_in_user.nil?
    conflicting_reservation = @existing_reservations.detect { |reservation| reservation.created_by_id != current_user.id }
    unless conflicting_reservation.nil?
      warning_msg = "#{conflicting_reservation.created_by.get_display_name} has reserved this stand"
    end
  else
    if @checked_in_user.user_id == current_user.id
      checkin_available = false
    else
      warning_msg = "#{@checked_in_user.user.get_display_name} has already checked into this stand"
    end
  end
%>

<% unless warning_msg.nil? %>
<div id="checkin-warning">
  <p class="warning-message"><%= warning_msg %></p>
  <a id="warning-dismiss" class="ui-btn ui-btn-inline ui-corner-all" href="#">Continue</a>
  <a id="warning-cancel" class="ui-btn ui-btn-inline ui-corner-all" href="#">Cancel</a>
</div>
<% end %>

<div id="checkin-form">
  <p>Stand: <%= @hunting_location.get_display_name %></p>
<% if checkin_available %>
    <%= form_tag hunting_app_checkin_path(@hunting_plot.id), remote: true do %>
      <%= hidden_field_tag("form_id", "dialog") %>
      <%= hidden_field_tag("is_at_plot", "true") %>
      <%= hidden_field_tag("position_longitude", "") %>
      <%= hidden_field_tag("position_latitude", "") %>
      <%= hidden_field_tag("hunting_location_id", @hunting_location.id) %>
      <%= select_tag :expires_at, options_for_select(hour_of_day_select_options), prompt:'[Until?]' %>
      <input id="checkin-submit" type="submit" value="Check-in" data-icon="check" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" />
    <% end %>
<% end %>
</div>
