<p>Stand: <%= @hunting_location.get_display_name %></p>
<%
  current_user_reservation = @existing_reservations.find { |reservation| reservation.created_by_id == current_user.id }
  if current_user_reservation.nil?
    reserved_am = @existing_reservations.any? do |reservation|
      reservation.time_period_am? || ((reservation.start_date_time >= @reservation_date.beginning_of_day) && (reservation.start_date_time < @reservation_date.middle_of_day)) || ((reservation.end_date_time >= @reservation_date.beginning_of_day) && (reservation.end_date_time < @reservation_date.middle_of_day))
    end
    reserved_pm = @existing_reservations.any? do |reservation|
      reservation.time_period_pm? || ((reservation.start_date_time >= @reservation_date.middle_of_day) && (reservation.start_date_time < @reservation_date.end_of_day)) || ((reservation.end_date_time >= @reservation_date.middle_of_day) && (reservation.end_date_time < @reservation_date.end_of_day))
    end
  end
%>
<div id="stand-reservation-form">
<%= form_tag hunting_app_create_stand_reservation_path(@hunting_plot.id), remote: true do %>
  <%
    date_options = (0..6).collect { |offset| [date_to_s(offset.days.from_now, :day_and_date), date_to_s(offset.days.from_now, :rfc3339)] }
  %>
  <%= select_tag :reservation_date, options_for_select(date_options), prompt:'[Date]' %>
  <%= hidden_field_tag("hunting_location_id", @hunting_location.id) %>
  <% unless current_user_reservation.nil? %>
    <%= hidden_field_tag("existing_reservation_id", current_user_reservation.id) %>
  <% end %>
  <%
    time_periods = [
      [ 'All day', 'time_period_all_day' ],
      [ 'AM Only (before noon)', 'time_period_am' ],
      [ 'PM Only (after noon)', 'time_period_pm' ]
    ]
  %>
  <%= select_tag :time_period, options_for_select(time_periods), prompt:'[Time]' %>
  <% if current_user_reservation.nil? %>
    <input id="checkin-submit" type="submit" value="Create Reservation" data-icon="check" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" />
  <% else %>
    <input id="checkin-submit" type="submit" value="Update" data-icon="check" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" />
  <% end %>
<% end %>
</div>
