<% provide(:page_id, 'landing') %>
<% content_for :panels do %>
<div data-role="panel" data-display="overlay" id="topmenu">
  <ul data-role="listview">
    <li><a href="#">Login</a></li>
    <li><a href="#">Logout</a></li>
    <li><a href="#">Change Location</a></li>
    <li><a href="#">Exit</a></li>
  </ul>
  <br/>
  <a href="#header" data-rel="close" class="ui-btn ui-icon-carat-l ui-btn-icon-left">Close</a>
</div>
<% end %>

<div class="ui-grid-a">
  <div class="ui-block-a">
    <div class="navigation-panel">
      <%= link_to(hunting_app_stands_path(@hunting_plot)) do %>
        <h1>Check-in or Reserve Stand</h1>
        <%= image_tag('stand_checkin_icon.png') %>
      <% end %>
    </div>
  </div>
  <div class="ui-block-b">
    <div class="navigation-panel">
      <%= link_to(hunting_app_map_path(@hunting_plot)) do %>
        <h1>Plot Map</h1>
        <%= image_tag('plot_map_icon.png') %>
      <% end %>
    </div>
  </div>
  <div class="ui-block-a">
    <div class="navigation-panel">
<%
forecast = WeatherForecastHelper.forecast(@hunting_plot)
today_simple_forecast = forecast[:forecast]['simpleforecast']['forecastday'][0]
today_text_forecast = forecast[:forecast]['txt_forecast']['forecastday'].detect { |day_txt_forecast| day_txt_forecast['period'] == 0 }
tonight_text_forecast = forecast[:forecast]['txt_forecast']['forecastday'].detect { |day_txt_forecast| day_txt_forecast['period'] == 1 }
%>
      <%= link_to(hunting_app_weather_path(@hunting_plot)) do %>
        <h1>Weather</h1>
        <div style="text-align: center; font-size:80%;">
          <div style="float:left;width:50%;">
            Day<br/>
            <%= image_tag(today_text_forecast['icon_url']) %>
            <br/>
            <%=today_simple_forecast['high']['fahrenheit']%> &deg;F
          </div>
          <div style="float:right;width:50%;">
            Night<br/>
            <%= image_tag(tonight_text_forecast['icon_url']) %>
            <br/><%=today_simple_forecast['low']['fahrenheit']%> &deg;F
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ui-block-b">
    <div class="navigation-panel">
      <a href="#">
        <h1>Hunting Forecast</h1>
        <%= image_tag('graph-icon_96.png') %>
      </a>
    </div>
  </div>
  <div class="ui-block-a">
    <div class="navigation-panel">
      <%= link_to(hunting_app_activity_path(@hunting_plot), { method: 'post' } ) do %>
        <h1>Deer Activity</h1>
        <%= image_tag('log_book.png') %>
      <% end %>
    </div>
  </div>
  <div class="ui-block-b">
    <div class="navigation-panel">
      <%= link_to(hunting_app_chat_path(@hunting_plot)) do %>
        <h1>Chat</h1>
        <%= image_tag('chat.png') %>
      <% end %>
    </div>
  </div>
</div>
