<% content_for :head do %>
<script type="text/javascript">

MapIcons = {
  HuntingLocationAvailable : {
    url: '<%= asset_path('map_marker_green.png') %>',
    size: new google.maps.Size(16,16),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(8, 8),
    scaledSize: new google.maps.Size(16,16)
    },
  HuntingLocationReserved : {
    url: '<%= asset_path('map_marker_yellow.png') %>',
    size: new google.maps.Size(16,16),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(8, 8),
    scaledSize: new google.maps.Size(16,16)
    },
  HuntingLocationOccupied : {
    url: '<%= asset_path('map_marker_red.png') %>',
    size: new google.maps.Size(16,16),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(8, 8),
    scaledSize: new google.maps.Size(16,16)
    }
};

g_userLocation = null;
$(document).ready( initializePage );
pageInit(
  function(event) {
    //initializePage();
  }
);
function initializePage() {
  $('div[data-role="navbar"] > ul > li > a').click(
    function (eventObject) {
      targetPanelId = $(this).data('target');
      $('div[data-role="content"] > div').each(
        function (index, item) {
          if ($(item).data('content-id') == targetPanelId)
            $(item).addClass('content-panel-active');
          else
            $(item).removeClass('content-panel-active');
        }
      );
      setContentHeight();
    }
  );
}
function setContentHeight() {
  var screen = $.mobile.getScreenHeight();
  var header = $(".ui-header").hasClass("ui-header-fixed") ? $(".ui-header").outerHeight()  - 1 : $(".ui-header").outerHeight();
  var footer = $(".ui-footer").hasClass("ui-footer-fixed") ? $(".ui-footer").outerHeight() - 1 : $(".ui-footer").outerHeight();
  /* content div has padding of 1em = 16px (32px top+bottom). This step can be skipped by subtracting 32px from content var directly. */
  var contentCurrent = $(".ui-content").outerHeight() - $(".ui-content").height();
  var content = screen - header - footer - contentCurrent;
  $(".ui-content").height(content);
}

/*
var g_checkinRequestPending = false;
function doCheckIn(currentPosition) {
  if (g_checkinRequestPending) return; // still have a pending request, don't send another
  g_checkinRequestPending = true;
  $.ajax(
    {
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify( { authenticity_token: "<%= j form_authenticity_token %>", position: { lat: currentPosition.coords.latitude, lng: currentPosition.coords.longitude } } ),
      url: '<%= j hunting_app_checkin_path(@hunting_plot) %>',
      success: checkInSuccess,
      error: checkInFail
    }
  );
}
function checkInSuccess(data, textStatus, jqXHR) {
  g_checkinRequestPending = false;
}
function checkInFail(jqXHR, textStatus, errorThrown) {
  g_checkinRequestPending = false;
}
*/
</script>
<% end %>

<% content_for :panels do %>
<div data-role="panel" data-display="overlay" id="topmenu">
  <ul data-role="listview">
    <li><a href="#">Login</a></li>
    <li><a href="#">Logout</a></li>
    <li><a href="#">Change Location</a></li>
    <li><a href="#">Exit</a></li>
  </ul>
  <br/>
  <a href="#header" data-rel="close" class="ui-btn ui-icon-carat-l ui-btn-icon-left">Close</a>
</div>
<% end %>

<% content_for :header do %>
<div data-role="navbar" data-mini="true">
  <ul>
    <li><%= link_to 'Home', hunting_app_home_path(@hunting_plot.id), { class: "ui-btn-active", remote: true, data: { icon:'home', target:'home' } } %></li>
    <li><%= link_to 'Map', hunting_app_map_path(@hunting_plot.id), { remote: true, data: { icon:'location', target:'map' } } %></li>
    <li><%= link_to 'Activity', hunting_app_activity_path(@hunting_plot.id), { method: 'post', remote: true, data: { icon:'bullets', target:'activity' } } %></li>
    <li><%= link_to 'Conditions', hunting_app_conditions_path(@hunting_plot.id), { remote: true, data: { icon:'cloud', target:'conditions' } } %></li>
  </ul>
</div>
<% end %>

<% # main content %>
<div data-content-id="home" class="content-panel content-panel-active"><%= render partial:'home' %></div>
<div data-content-id="map" class="content-panel" style="padding:0px;width:100%;height:100%;"><%= render partial:'map', locals: { hunting_plot: @hunting_plot } %></div>
<div data-content-id="activity" class="content-panel"><%= render partial:'activity' %></div>
<div data-content-id="conditions" class="content-panel">Loading, please wait...</div>
