<div class="row">
  <div class="col-md-12">

    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Alias:</strong>
      <%= @user.alias %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Authentication method:</strong>
      <%= EnumsHelper::UserEnums::get_authentication_method_description(@user.authentication_method) %>
    </p>

    <p>
      <strong>Admin:</strong>
      <%= @view_data.get_admin_description(@user.admin) %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-default' %>
    <%= link_to 'Back', users_path, class: 'btn btn-sm btn-default' %>
    <%= link_to 'Home', '/', class: 'btn btn-sm btn-default' %>

  </div>
</div>
