<% content_for :head do %>
<script type="text/javascript">
$(document).ready(
  function() {
    $('#networks_tab a').on('shown.bs.tab',
      function (e) {
        if ($(e.target).data('hasloaded') != true) {
          $.ajax({
              type: 'GET',
              url: '<%= j network_panel_path(0) %>'.replace('0', $(e.target).data('plotid')),
              success: function(data) {
                $($(e.target).attr('href')).html(data);
                $(e.target).data('hasloaded', true);
              }
          });
        }
      }
    );
  }
)
</script>
<% end %>

<div>
  <ul class="nav nav-tabs" id="networks_tab">
    <% current_user.hunting_plots.each_with_index do |plot, index| %>
    <%=
      content_tag(
        :li,
        content_tag(:a, plot.name, href:'#network_' + index.to_s, data: { toggle: 'tab', plotid: plot.id, :hasloaded => (index == 0) ? 'true' : 'false' }),
        { class: (index == 0) ? 'active' : nil }
      )
    %>
    <% end %>
  </ul>
</div>

<!--<div class="">-->
<div class="tabbed-panel tab-content">

  <% current_user.hunting_plots.each_with_index do |plot, index| %>

  <div class="tab-pane<%= (index == 0) ? ' active' : ''%>" id="network_<%=index%>">
    <% if (index == 0) %>
    <%= render partial:'/shared/network_panel', :locals => { :hunting_plot => plot } %>
    <% else %>
    Loading content, please wait...
    <% end %>
  </div>

  <% end %>

</div>
