<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Hunting plot:</strong>
      <%= get_hunting_plot_description(@hunting_location) %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @hunting_location.name %>
    </p>

    <p>
      <strong>Coordinates:</strong>
      <%= @hunting_location.coordinates %>
    </p>

    <p>
      <strong>Location type:</strong>
      <%= @view_data.get_location_type_description(@hunting_location.location_type) %>
    </p>

    <%= link_to 'Edit', edit_hunting_location_path(@hunting_location) %> |
    <%= link_to 'Back', hunting_plot_hunting_locations_path(@hunting_plot) %>

  </div>
</div>
