<%
# initialize any undefined local variables
attribute_list ||= nil
unless defined?(editable)
  editable = true
end
%>
<tr data-id="<%=hunting_plot.id%>">
  <% if (attribute_list.nil? || attribute_list.include?(:name)) %>
    <td><%= hunting_plot.name %></td>
  <% end %>
  <% if (attribute_list.nil? || attribute_list.include?(:location_address)) %>
    <td><%= hunting_plot.location_address %></td>
  <% end %>
  <% if (!attribute_list.nil? && attribute_list.include?(:location_coordinates)) %>
    <td><%= hunting_plot.location_coordinates %></td>
  <% end %>
  <% if (!attribute_list.nil? && attribute_list.include?(:boundary)) %>
    <td><%= hunting_plot.boundary %></td>
  <% end %>
  <% if editable %>
    <td class="index-item-commands">
      <%= item_show_command(sys_admin_plot_path(hunting_plot)) %>
      <%= item_edit_command(edit_sys_admin_plot_path(hunting_plot)) %>
      <%= item_delete_command(sys_admin_plot_path(hunting_plot)) %>
    </td>
  <% end %>
</tr>
