<tr data-id="<%%=<%=singular_table_name%>.id%>">
<%-
  model_attributes.reject(&:password_digest?).each do |attribute|
    if (attribute.reference?)
-%>
  <td><%%= get_<%= attribute.reference.name %>_description(<%= singular_table_name %>) %></td>
<%-
    elsif (attribute.has_value_list?)
-%>
  <td><%%= get_<%= attribute.name %>_description(<%= singular_table_name %>) %></td>
<%-
    else
-%>
  <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<%-
    end
  end
-%>
  <td><%%= item_show_command(<%= singular_table_name %>_path(<%= singular_table_name %>)) %></td>
  <td><%%= item_edit_command(edit_<%= singular_table_name %>_path(<%= singular_table_name %>), { remote: true }) %></td>
  <td><%%= item_delete_command(<%= singular_table_name %>_path(<%= singular_table_name %>), { remote: true, method: :delete, data: { confirm: 'Are you sure?' } }) %></td>
</tr>
