<%%= content_for :head do %>
<script type="text/javascript">
var <%= class_name %>TableHelper = new TableHelper('table[data-component="<%= class_name %>"]');
</script>
<%% end %>
<%%
# initialize any undefined local variables
attribute_list ||= nil
unless defined?(editable)
  editable = true
end
%>
<table class="table" data-component="<%= class_name%>">
  <thead>
    <tr>
<%- model_attributes.reject { |attribute| attribute.password_digest? || attribute.is_system? }.each do |attribute| -%>
      <%% if (attribute_list.nil? || attribute_list.include?(:<%= attribute.name%>)) %>
        <th><%= attribute.human_name %></th>
      <%% end %>
<%- end -%>
      <th></th>
    </tr>
  </thead>

  <tbody id='items-tbody'>
    <%%= render :partial => '<%= plural_table_name %>/index_item', :collection => <%= plural_table_name %>, :as => :<%= singular_table_name %>, locals: { attribute_list: attribute_list, editable: editable } %>
  </tbody>
</table>
