<%% content_for :modal_content do %>
<div id="form-placeholder"></div>
<%% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing <%= human_name.pluralize.titleize %></h3>

    <table class="table">
      <thead>
        <tr>
<%- model_attributes.reject(&:password_digest?).each do |attribute| -%>
          <th><%= attribute.human_name %></th>
<%- end -%>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id='items-tbody'>
        <%%= render :partial => 'index_item', :collection => @<%= plural_table_name %>, :as => :<%= singular_table_name %> %>
      </tbody>
    </table>

    <div id="inline-form"></div>

    <%%= link_to 'New <%= human_name.titleize %>', new_<%= singular_table_name %>_path, { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
