<%% content_for :modal_content do %>
<div id="form-placeholder"></div>
<%% end %>

<div class="row">
  <div class="col-md-12">
    <h3>Listing <%= human_name.pluralize.titleize %></h3>

    <%%= render :partial => 'index_table', locals: { <%= plural_table_name %>: @<%= plural_table_name %> } %>

    <div id="inline-form"></div>

    <%%= link_to 'New <%= human_name.titleize %>', new_<%= singular_table_name %>_path, { remote: true, class: 'btn btn-default', id:'add-item-button' } %>
  </div>
</div>
