<div class="row">
  <div class="col-md-12">

    <%- model_attributes.reject { |attribute| attribute.password_digest? || attribute.is_system? }.each do |attribute| -%>
    <p>
      <strong><%= attribute.human_name %>:</strong>
      <%%= <%= get_attribute_display_value_string("@#{singular_table_name}", attribute) %> %>
    </p>
    <%- end -%>

    <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
    <%%= link_to 'Back', <%= index_helper %>_path %>

  </div>
</div>
