<div class="row">
  <div class="col-md-12">

    <p id="notice"><%%= notice %></p>

    <%- model_attributes.reject(&:password_digest?).each do |attribute| -%>
    <p>
      <strong><%= attribute.human_name %>:</strong>
    <%- if (attribute.reference?) -%>
      <%%= (@<%= singular_table_name %>.<%= attribute.name%>.nil?) ? nil : @<%= singular_table_name %>.<%= attribute.reference.name %>.get_display_name %>
    <%- elsif attribute.is_enum? -%>
      <%%= EnumsHelper::<%=singular_table_name.camelize%>Enums::get_<%= attribute.name %>_description(@<%= singular_table_name %>.<%=attribute.name%>) %>
    <%- elsif attribute.has_value_list? -%>
      <%%= @view_data.get_<%= attribute.name %>_description(@<%= singular_table_name %>.<%=attribute.name%>) %>
    <%- else -%>
      <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    <%- end -%>
    </p>

    <%- end -%>
    <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
    <%%= link_to 'Back', <%= index_helper %>_path %>

  </div>
</div>
