<%= form_for(@hunting_plot_named_animal) do |f| %>
  <% if @hunting_plot_named_animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hunting_plot_named_animal.errors.count, "error") %> prohibited this hunting_plot_named_animal from being saved:</h2>

      <ul>
      <% @hunting_plot_named_animal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :animal_species_id %><br>
    <%= f.text_field :animal_species_id %>
  </div>
  <div class="field">
    <%= f.label :animal_category_id %><br>
    <%= f.text_field :animal_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
