<p>
  <strong>Name:</strong>
  <%= @hunting_plot_named_animal.name %>
</p>

<p>
  <strong>Animal species:</strong>
  <%= @hunting_plot_named_animal.animal_species %>
</p>

<p>
  <strong>Animal category:</strong>
  <%= @hunting_plot_named_animal.animal_category %>
</p>

<%= link_to 'Edit', edit_hunting_plot_named_animal_path(@hunting_plot_named_animal) %> |
<%= link_to 'Back', hunting_plot_named_animals_path %>
