<%= bootstrap_form_for(@animal_species) do |f| %>
  <% if @animal_species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal_species.errors.count, "error") %> prohibited this animal species from being saved:</h2>

      <ul>
      <% @animal_species.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :common_name %><br>
    <%= f.text_field :common_name %>
  </div>
  <div class="field">
    <%= f.label :species %><br>
    <%= f.text_field :species %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
