<%= bootstrap_form_for(@animal_category) do |f| %>
  <% if @animal_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal_category.errors.count, "error") %> prohibited this animal_category from being saved:</h2>

      <ul>
      <% @animal_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal_species_id %><br>
    <%= f.text_field :animal_species_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.number_field :gender %>
  </div>
  <div class="field">
    <%= f.label :maturity %><br>
    <%= f.number_field :maturity %>
  </div>
  <div class="field">
    <%= f.label :trophy_rating %><br>
    <%= f.number_field :trophy_rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
