<tr data-id="<%=user_network_subscription.id%>">
  <td><%= (user_network_subscription.user_id.nil?) ? nil : user_network_subscription.user.get_display_name %></td>
  <td><%= user_network_subscription.user_network_id %></td>
  <td><%= item_show_command(user_network_subscription_path(user_network_subscription)) %></td>
  <td><%= item_edit_command(edit_user_network_subscription_path(user_network_subscription), { remote: true }) %></td>
  <td><%= item_delete_command(user_network_subscription_path(user_network_subscription), { remote: true, method: :delete, data: { confirm: 'Are you sure?' } }) %></td>
</tr>
