<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @user_network.name %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= (@user_network.category_id.nil?) ? nil : @user_network.category.get_display_name %>
    </p>

    <p>
      <strong>Parent network:</strong>
      <%= (@user_network.parent_network_id.nil?) ? nil : @user_network.parent_network.get_display_name %>
    </p>

    <%= link_to 'Edit', edit_user_network_path(@user_network) %> |
    <%= link_to 'Back', user_networks_path %>

  </div>
</div>
