<nav class="navbar navbar-default" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <div class="pull-left logo-text">Predictive<br/>Hunting</div>
        <div class="pull-left"><%= image_tag "logo.png", class: 'navbar-logo' %></div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
<% if signed_in? %>
        <li><%= link_to "Friends", friends_path %></li>
        <li><%= link_to "Networks", user_network_subscriptions_path %></li>
  <% if current_user.has_pending_relationship_requests? %>
          <li class="dropdown">
            <%= link_to(bootstrap_glyphicon('info-sign', class:'user-notification-alert'), '#', { class: 'dropdown-toggle', data: { toggle: 'dropdown' } }) %>
            <ul class="dropdown-menu">
              <li><%= link_to "You have pending friend requests", friend_requests_path %></li>
            </ul>
          </li>
  <% end %>
  <% if current_user.hunting_plot_accesses.count > 0 || current_user.has_pending_plot_invites? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hunting Plot <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-sm" role="menu">
    <% if current_user.has_pending_plot_invites? %>
            <li><%= link_to 'Pending Invitations', review_hunting_plot_user_access_requests_path %></li>
    <% end %>
    <% current_user.hunting_plot_accesses.each do |hunting_plot_access| %>
          <% if current_user.hunting_plot_accesses.count > 1 %>
            <li class="group-header"><%= hunting_plot_access.hunting_plot.get_display_name %></li>
          <% end %>
            <li><%= link_to 'Check-in', hunting_app_path(hunting_plot_access.hunting_plot_id), { :target => '_blank' } %></li>
            <li><%= link_to 'Manage', manage_hunting_plot_path(hunting_plot_access.hunting_plot_id) %></li>
    <% end %>
          </ul>
        </li>
  <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-sm" role="menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", signout_path, method:"delete" %></li>
          </ul>
        </li>
<% else %>
        <li><%= link_to "Sign in", signin_path %></li>
<% end %>
      </ul>
    </div>

  </div>

</nav>
