<!DOCTYPE html>
<html>
<head>
  <title>Predictive Hunting</title>
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">

  <%= stylesheet_link_tag "hunting-app", media: "all" %>
  <script type="text/javascript">
  // constants and variables that may vary depending on environment or other conditions
  var AssetPath = {
    Image: {
      HuntingLocationAvailable : '<%= asset_path('hunting_location_available_32.png') %>',
      HuntingLocationReserved : '<%= asset_path('hunting_location_reserved_32.png') %>',
      HuntingLocationOccupied : '<%= asset_path('hunting_location_occupied_32.png') %>',
      HuntingLocation : '<%= asset_path('map_marker_blue.png') %>',
      Hunter : '<%= asset_path('user_pin.png') %>'
    }
  };
  var g_huntingPlotId = <%=@hunting_plot.id%>;
  var g_userId = <%=current_user.id%>;
  var HuntingLocationStatus = function() {
    this.Available = 1;
    this.Occupied = 2;
    this.Reserved = 3;
    this.getName = function(status) {
      switch (status) {
        case this.Available:
          return "Available";
        case this.Occupied:
          return "Occupied";
        case this.Reserved:
          return "Reserved";
        default:
          return 'Unknown status (' + status + ')';
      }
    };
    return this;
  }();
  </script>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=drawing" %>
  <%= javascript_include_tag "hunting_app" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
  <%# this has to go after the main script so the parseWKTPolygon function is available %>
  <script type="text/javascript">
  var g_huntingPlotLocation = {
    center: { lat: <%=@hunting_plot.location_coordinates.y()%>, lng: <%=@hunting_plot.location_coordinates.x()%> },
    <%
    if !@hunting_plot.boundary.nil?
      view_window = rgeo_get_bounds(@hunting_plot.boundary)
    %>
    view_window: { sw: { lat: <%= view_window[:sw][:lat] %>, lng: <%= view_window[:sw][:lng] %> }, ne: { lat: <%= view_window[:ne][:lat] %>, lng: <%= view_window[:ne][:lng] %> } },
    <% end %>
    boundary: parseWKTPolygon('<%=@hunting_plot.boundary.to_s%>')
  };
  </script>
</head>

<body data-no-turbolink="true">

  <% page_id = yield(:page_id) %>
  <% page_title = yield(:page_title) %>

  <div id="global-popup" data-theme="a">
    <div class="ui-content">
      <p id="message"></p>
      <a id="global-popup-ok" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" href="#">OK</a>
      <a id="global-popup-cancel" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" href="#">Cancel</a>
    </div>
  </div>

  <div data-role="page" id="<%=page_id%>" data-dom-cache="true" data-theme="a">

    <% if page_id == 'landing' %>
    <div data-role="panel" data-display="overlay" id="topmenu">
      <ul data-role="listview">
        <li><%= link_to 'Home', home_path, data: { ajax: false } %></li>
        <li><%= link_to 'Sign out', signout_path, data: { ajax: false } %></li>
      </ul>
      <br/>
      <a href="#header" data-rel="close" class="ui-btn ui-icon-carat-l ui-btn-icon-left">Close</a>
    </div>
    <% end %>
    <%= yield :panels %>

    <div data-role="header" data-position="fixed" id="header">
      <div class="page-title">
        <h1>Predictive Hunting</h1>
        <% unless page_title.blank? %>
        <p><%= page_title%></p>
        <% end %>
      </div>
      <% if page_id == 'landing' %>
      <a href="#topmenu" class="ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow ui-nodisc-icon ui-alt-icon" data-role="button">Menu</a>
      <% else %>
      <a href="#" data-rel="back" class="ui-btn-left ui-btn ui-icon-carat-l ui-shadow ui-corner-all ui-btn-icon-notext ui-alt-icon" data-role="button" role="button">Back</a>
      <a href="#" id="reload-button"  class="ui-btn-right ui-btn ui-icon-refresh ui-shadow ui-corner-all ui-btn-icon-notext ui-alt-icon" data-role="button" role="button">Refresh</a>
      <% end %>
      <%= yield :header %>
    </div>

    <div data-role="content" class="ui-content">
      <%= yield %>
    </div>

    <div data-role="footer" data-position="fixed" id="footer">
      <%= yield :footer %>
    </div>

  </div>

</body>
</html>

